@page "/"
@page "/index"
@inject HttpClient Http


<PageTitle>BlazorLink</PageTitle>
<HeadContent>
    <meta name="description" content="@description">
</HeadContent>

 <div class="container mt-5">
<h1 class="text-center">BlazorLink</h1>



@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
<ErrorBoundary>
     <ChildContent>
<EditForm Model="@URLToShorten" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    
   
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">URL to shorten</span>
        </div>
        <InputText type="text"  @bind-Value="URLToShorten.URL" class="form-control modified" id="basic-url" aria-describedby="basic-addon3" />
        <div class="input-group-append">
          <span class="input-group-button" id="basic-addon3"><button class="btn btn-primary" type="submit">Submit</button></span>
        </div>
      </div>
   
    <ValidationSummary />
    @* <button class="btn btn-primary" type="submit">Submit</button> *@
</EditForm>

  </ChildContent>
    <ErrorContent>
        <div class="alert alert-dismissible alert-warning">
        
          <h4 class="alert-heading">Error</h4>
          <p class="mb-0">We had a problem creating your link.</p>
        </div>
    </ErrorContent>
</ErrorBoundary>

@if (!string.IsNullOrEmpty(ShortendURL))
{
  <div class="alert alert-dark mt-3" role="alert">
  <a href="@ShortendURL" class="alert-link" target="_blank">@ShortendURL</a>
  </div>

}
 </div>
@code {
    private string ShortendURL ="";

    private URLLink URLToShorten = new URLLink() ;
    private async Task HandleValidSubmit()
    {
        string url = URLToShorten.URL;
        Console.WriteLine(url);
        var result = await Http.PostAsJsonAsync("",url);
        
        Console.WriteLine(await result.Content.ReadAsStringAsync());
        ShortendURL = await result.Content.ReadAsStringAsync();
        URLToShorten.URL = "";
        StateHasChanged();
        
    }

    private string description = "A bitly(like) C# wasm url shortener";
    private string title = "BlazorLink";

@*    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }*@




}
